:root{
    --branco: #FFF;
    --background: #0D0011;
    --bg-principal: #11001E;
    --borda: #5200FF;
    --vermelho: #E71B32;
    --verde: #00FF85;
    --amarelo: #FAF408;
    --fonte: 'Permanent Marker', sans-serif;
}